.comment-body {
  font-size: 14px;
}

.comments-btn {
  color: white;
  background-color: #FE5000;
}

.comments-btn:hover {
  color: white;
  background: #FE5000;
  border-color: #ac2626;
}

.comments {
  margin-top: 20px;
}
