/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Navbar logo */
.navbar-wagon-brand img {
  height: 50px;
}

h1 {
  color: #FE5000;
  font-style: italic;
  font-size: 30px;
}
/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #FE5000;
  color: white;
  font-size: 14px;
  border: 2px solid #FE5000;
}
.navbar-wagon-button:hover {
  color: white;
  background: #FE5000;
  border-color: #ac2626;
}
