<!DOCTYPE html>
<html>
  <head>
    <title>Post App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar-wagon">
      <!-- Logo -->
      <h1>Discover the blog of<a href="/" class="navbar-wagon-brand">
        <img src="https://www.envoituresimone.com/assets/logo-1187272ebeb64f3fb1f5edc970a6ae8f.svg" />
      </a></h1>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right">
        <!-- Button (call-to-action) -->
        <a href="" class="navbar-wagon-item navbar-wagon-button btn">New article</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
